
  <section>
    <div class="gap gray-bg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="row" id="page-contents">
              <div class="col-lg-3">

              </div><!-- sidebar -->
              <div class="col-lg-6">
                <div class="central-meta">
                  <div class="frnds">
                    <ul class="nav nav-tabs">
                      <li class="nav-item"><a class="active" href="#frends" data-toggle="tab">Followers</a> <span> {{ followers.size }} </span></li>
                      <li class="nav-item"><a class="" href="#frends-req" data-toggle="tab">Following</a><span> {{ following.size }} </span></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div class="tab-pane active fade show " id="frends" >
                        <ul class="nearby-contct">
                          <li *ngFor="let follower of followers.keys()">
                            <div  class="nearly-pepls">
                              <figure>
                                <a  title=""><img [src]="followers.get(follower)" alt=""></a>
                              </figure>
                              <div class="pepl-info">
                                <h4><a title=""> {{ follower }}</a></h4>
                                <div *ngIf="following.has(follower); then unfollow else follow"> </div>
                                <ng-template #unfollow> <button (click)="following.delete(follower)"  type="button" class="btn btn-secondary btn-sm fa-pull-right">Unfollow</button> </ng-template>
                                <ng-template #follow> <button (click)="following.set(follower,followers.get(follower))"  type="button" class="btn btn-primary btn-sm fa-pull-right">Follow</button> </ng-template>
                              </div>
                            </div>
                          </li>
                        </ul>
                        <div class="lodmore"><button class="btn-view btn-load-more"></button></div> </div>
                      <div class="tab-pane fade" id="frends-req" >
                        <ul class="nearby-contct">
                          <li *ngFor="let followed of following.keys()">
                            <div  class="nearly-pepls">
                              <figure>
                                <a  title=""><img [src]="followers.get(followed)" alt=""></a>
                              </figure>
                              <div class="pepl-info">
                                <h4><a title=""> {{ followed }}</a></h4>
                                <div *ngIf="following.has(followed); then unfollow else follow"> </div>
                                <ng-template  #unfollow> <button (click)="following.delete(followed)" type="button" class="btn btn-secondary btn-sm fa-pull-right">Unfollow</button> </ng-template>
                                <ng-template #follow> <button  type="button" class="btn btn-primary btn-sm fa-pull-right">Follow</button> </ng-template>
                              </div>
                            </div>
                          </li>
                        </ul>
                        <button class="btn-view btn-load-more"></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- centerl meta -->
              <div class="col-lg-3">

              </div><!-- sidebar -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

