.buttonload {
  background-color: white; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 24px; /* Some padding */
  font-size: 16px; /* Set a font-size */
}
.fa {
  margin-left: -12px;
  margin-right: 8px;
}
.button {


  border-radius: 10px;
  background-color: #1e7bf4;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 11px;
  width: 110px;
  transition: all 0.9s;
  cursor: pointer;
  margin-left: 70%;  }

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.9s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
