<div class="topbar stick">
  <div class="logo">
    <a [routerLink]="['home']" title="" ><img src="/assets/images/logo.png" alt=""></a>
  </div>

  <div class="top-area">
    <ul class="main-menu">
      <li>
        <a [routerLink]="['home']" title="">Home</a>
      </li>
      <li>
        <a [routerLink]="['profile']" title="">Timeline</a>
      </li>
      <li>
        <a [routerLink]="['profile/about']" title="">Account settings</a>
      </li>
    </ul>
    <div class="user-img">
      <img src="/assets/images/resources/admin.jpg" alt="">
      <span class="status f-online"></span>
</div>
