
<section>
  <div class="gap gray-bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="row" id="page-contents">
            <div class="col-lg-3">
              <aside class="sidebar static"> </aside>
            </div><!-- sidebar -->
            <div class="col-lg-6">
              <div class="central-meta">
                <ul class="photos">

                  <li *ngFor="let post of postsWithPhotos">
                      <a class="strip" [href]="post.postImgURL" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
                        <img width="191" height="183"[src]="post.postImgURL" alt="Loading photo">
                      </a>
                  </li>

                </ul>
                <div class="lodmore"><button class="btn-view btn-load-more"> </button></div>
              </div><!-- photos -->
            </div><!-- centerl meta -->
            <div class="col-lg-3">
            </div><!-- sidebar -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
